USE [Banking_SourceDB]
GO
/****** Object:  Table [dbo].[BankingSourceRaw]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankingSourceRaw](
	[Customer_ID] [smallint] NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Contact_Number] [bigint] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Account_Type] [nvarchar](50) NOT NULL,
	[Account_Balance] [float] NOT NULL,
	[Date_Of_Account_Opening] [date] NOT NULL,
	[Last_Transaction_Date] [date] NOT NULL,
	[TransactionID] [smallint] NOT NULL,
	[Transaction_Date] [date] NOT NULL,
	[Transaction_Type] [nvarchar](50) NOT NULL,
	[Transaction_Amount] [float] NOT NULL,
	[Account_Balance_After_Transaction] [float] NOT NULL,
	[Branch_ID] [tinyint] NOT NULL,
	[Loan_ID] [smallint] NOT NULL,
	[Loan_Amount] [float] NOT NULL,
	[Loan_Type] [nvarchar](50) NOT NULL,
	[Interest_Rate] [float] NOT NULL,
	[Loan_Term] [tinyint] NOT NULL,
	[Approval_Rejection_Date] [date] NOT NULL,
	[Loan_Status] [nvarchar](50) NOT NULL,
	[CardID] [smallint] NOT NULL,
	[Card_Type] [nvarchar](50) NOT NULL,
	[Credit_Limit] [float] NOT NULL,
	[Credit_Card_Balance] [float] NOT NULL,
	[Minimum_Payment_Due] [float] NOT NULL,
	[Payment_Due_Date] [date] NOT NULL,
	[Last_Credit_Card_Payment_Date] [date] NOT NULL,
	[Rewards_Points] [smallint] NOT NULL,
	[Anomaly] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SrcAccount]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SrcAccount](
	[Customer_ID] [smallint] NOT NULL,
	[Account_Type] [nvarchar](50) NOT NULL,
	[Account_Balance] [float] NOT NULL,
	[Date_Of_Account_Opening] [date] NOT NULL,
	[Last_Transaction_Date] [date] NOT NULL,
	[Branch_ID] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SrcCard]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SrcCard](
	[Customer_ID] [smallint] NOT NULL,
	[CardID] [smallint] NOT NULL,
	[Card_Type] [nvarchar](50) NOT NULL,
	[Credit_Limit] [float] NOT NULL,
	[Credit_Card_Balance] [float] NOT NULL,
	[Minimum_Payment_Due] [float] NOT NULL,
	[Payment_Due_Date] [date] NOT NULL,
	[Last_Credit_Card_Payment_Date] [date] NOT NULL,
	[Rewards_Points] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SrcCustomer]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SrcCustomer](
	[Customer_ID] [smallint] NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Contact_Number] [bigint] NOT NULL,
	[Email] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SrcLoan]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SrcLoan](
	[Customer_ID] [smallint] NOT NULL,
	[Loan_ID] [smallint] NOT NULL,
	[Loan_Amount] [float] NOT NULL,
	[Loan_Type] [nvarchar](50) NOT NULL,
	[Interest_Rate] [float] NOT NULL,
	[Loan_Term] [tinyint] NOT NULL,
	[Approval_Rejection_Date] [date] NOT NULL,
	[Loan_Status] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SrcTransaction]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SrcTransaction](
	[Customer_ID] [smallint] NOT NULL,
	[TransactionID] [smallint] NOT NULL,
	[Transaction_Date] [date] NOT NULL,
	[Transaction_Type] [nvarchar](50) NOT NULL,
	[Transaction_Amount] [float] NOT NULL,
	[Account_Balance_After_Transaction] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgAccount]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgAccount](
	[Customer_ID] [smallint] NULL,
	[Account_Type] [nvarchar](50) NULL,
	[Account_Balance] [float] NULL,
	[Date_Of_Account_Opening] [nvarchar](10) NULL,
	[Last_Transaction_Date] [nvarchar](10) NULL,
	[Branch_ID] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgLoan]    Script Date: 5/6/2026 10:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgLoan](
	[Customer_ID] [smallint] NULL,
	[Loan_ID] [smallint] NULL,
	[Loan_Amount] [float] NULL,
	[Loan_Type] [nvarchar](50) NULL,
	[Interest_Rate] [float] NULL,
	[Loan_Term] [tinyint] NULL,
	[Approval_Rejection_Date] [nvarchar](10) NULL,
	[Loan_Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
