USE [Banking_Staging]
GO
/****** Object:  Table [dbo].[StgAccount]    Script Date: 5/6/2026 10:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgAccount](
	[Customer_ID] [smallint] NULL,
	[Account_Type] [nvarchar](50) NULL,
	[Account_Balance] [float] NULL,
	[Date_Of_Account_Opening] [nvarchar](10) NULL,
	[Last_Transaction_Date] [nvarchar](10) NULL,
	[Branch_ID] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgCard]    Script Date: 5/6/2026 10:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgCard](
	[Customer_ID] [smallint] NULL,
	[CardID] [smallint] NULL,
	[Card_Type] [nvarchar](50) NULL,
	[Credit_Limit] [float] NULL,
	[Credit_Card_Balance] [float] NULL,
	[Minimum_Payment_Due] [float] NULL,
	[Payment_Due_Date] [nvarchar](10) NULL,
	[Last_Credit_Card_Payment_Date] [nvarchar](10) NULL,
	[Rewards_Points] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgCustomer]    Script Date: 5/6/2026 10:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgCustomer](
	[Customer_ID] [smallint] NULL,
	[First_Name] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NULL,
	[Age] [tinyint] NULL,
	[Gender] [nvarchar](50) NULL,
	[Contact_Number] [bigint] NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgCustomerFeedback]    Script Date: 5/6/2026 10:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgCustomerFeedback](
	[Customer ID] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Feedback ID] [varchar](50) NULL,
	[Feedback Date] [varchar](50) NULL,
	[Feedback Type] [varchar](50) NULL,
	[Resolution Status] [varchar](50) NULL,
	[Resolution Date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgCustomerFeedback1]    Script Date: 5/6/2026 10:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgCustomerFeedback1](
	[Customer_ID] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Feedback ID] [varchar](50) NULL,
	[Feedback Date] [varchar](50) NULL,
	[Feedback Type] [varchar](50) NULL,
	[Resolution Status] [varchar](50) NULL,
	[Resolution Date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgLoan]    Script Date: 5/6/2026 10:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgLoan](
	[Customer_ID] [smallint] NULL,
	[Loan_ID] [smallint] NULL,
	[Loan_Amount] [float] NULL,
	[Loan_Type] [nvarchar](50) NULL,
	[Interest_Rate] [float] NULL,
	[Loan_Term] [tinyint] NULL,
	[Approval_Rejection_Date] [nvarchar](10) NULL,
	[Loan_Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgTransaction]    Script Date: 5/6/2026 10:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgTransaction](
	[Customer_ID] [smallint] NULL,
	[TransactionID] [smallint] NULL,
	[Transaction_Date] [nvarchar](10) NULL,
	[Transaction_Type] [nvarchar](50) NULL,
	[Transaction_Amount] [float] NULL,
	[Account_Balance_After_Transaction] [float] NULL
) ON [PRIMARY]
GO
